/* Brian Henderson
   December 11, 2015
   Version 1.0
   CMPT 120L 


body { 
	text-align: center; 
	font-family: "Times New Roman";
	background-image: url("island.jpg");
	font-weight: bold;
}

#scoreDisplay { 
	font-size: 15px;  
	text-align: center; 
	text-decoration: underline; 
	font-weight: bold;
}
		
#score { 
	font-size: 23px;
}			  
		
#scene { 
	text-align: center; 
	width: 50%;
    height: 20%;
	position: relative;
	right: -21.5%;
	background: white;
	border: 6px solid;
	opacity: .7;
	padding: 20px;
}

*/


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-image: url("gamebackground.jpg");
}


aside, main {
    display: inline-block;
    vertical-align: top;
    padding: 0 1%;
}

main {
    width: 60%;
}

aside {
    width: 16%;
}

header, footer {
    font-style: italic;
    padding: 1em;
}

h2 {
    font-size: 120%;
}

#scene p {
    display: inline-block;
    background: white;
    border-radius: 1ex;
    border: 6px solid black;
    margin-top: 6em;
    padding: 2em;
    font-weight: bold;
}

#scene, #summary, #inventory {
    padding: 1em;
    height: 28em;
    background-color: white;
    margin-bottom: 1em;
    text-align: center; 
	border: 6px solid;
	opacity: .7;

}

#scene {
    padding: 1em 8em;
    border: 6px solid black;
    background-position: center center;
    background-size: 100%;
}

#controls {
    margin-top: 1em;
}

input[type=text] {
    width: 30ex;
}

img {
	width: 55%;
	opacity: .7;
	padding-bottom: 3px;
}









